<h1> {{ helloWorld }} </h1>

<form ng-submit="addContact()" style="margin-top: 50px">
		<h3>Submit a contact</h3>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="name" ng-model="name"></input>
				<br>
                <input type="text" class="form-control" placeholder="Phone" ng-model="phone"></input>
				<br>
                <input type="text" class="form-control" placeholder="Email" ng-model="email"></input>
			</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>
<div class="home">
		<div class="post" ng-repeat="post in posts">
            <br>
          <a href="#/contact/{{ post.id }}">{{post.name}}</a></h2>

		</div>

	